@font-face {
    font-family: 'Yomogi';
    src: url('../font/Yomogi-Regular.ttf');
}

.bg-burgur{
    background-color: yellowgreen;
    height: 100vh;
}

.txt-title{
    font-family: 'Yomogi';
    font-weight: bold;
    font-size: 50px;
}